.card {
  background: linear-gradient(180deg, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
  width: min(100%, 360px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: centers;
  padding: var(--spacing-300);
  border-radius: 15px;
  margin: 0 auto;
}

.card__star_icon {
    height: var(--spacing-250);
    width: var(--spacing-250);

}

.card h1 {
    color: var(--color-white);
    font-family: "Overpass", sans-serif;
    font-weight: 700;
}

.card p {
    color: var(--color-grey-500);
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    
}

.card__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-grey-500);
  background-color: var(--color-grey-900);
  border-radius: 50%;
  margin-bottom: var(--spacing-300);
}

.card__rating_score {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: var(--spacing-300);
    
}

.card__button {
    width: min(100%);
    padding: var(--spacing-200);
    border-radius: 22.5px;
    background-color: var(--color-orange-500);
    border: none;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}