@font-face {
  font-family: "Overpass", sans-serif;
  src: url(https://fonts.google.com/specimen/Overpass);
  font-weight: 400;
}

@font-face {
  font-family: "Overpass", sans-serif;
  src: url(https://fonts.google.com/specimen/Overpass);
  font-weight: 700;
}

:root {
  /* Primary */
  --color-orange-500: hsl(25, 97%, 53%);

  /* Neutral */
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0% );
  --color-grey-500: hsl(217, 12%, 63%);
  --color-grey-900: hsl(213, 19%, 18%);
  --color-grey-950: hsl(216, 12%, 8%);
  --color-gradient: hsl(215, 20%, 17%), hsl(216, 24%, 12%)

  /* Spacing */

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-1300: 104px;
  --spacing-1700: 136px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
} 

body {
  margin: 0;
}


